.rps-manual-slides-container {
    height: 100%;
    position: relative;
    touch-action: none;
    padding: 0;
    margin: 0;
    transform: translate3d(0px, 0px, 0px);
    transition: none 0s ease 0s;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}