.rps-slide {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.rps-slide__inner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.rps-slide-background {
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
}